[user]
    name = Kristopher Boren
    email = kboren@proofpoint.com
[format]
    pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset
[color]
    ui = auto
[push]
    default = tracking
[alias]
    st = status
    co = checkout
    br = branch
[fetch]
    prune = true
[credential]
    helper = osxkeychain
[achievement]
	upload = true
